<div class="question-header">
	<h1><%= link_to @question.title, @question %></h1>
</div>
<div class="content">
	<div class="post">
		<div class="left">
			<%= render :partial => 'partials/vote', :object => @question %>
		</div>
		<div class="right">
			<%= safe_html(BlueCloth.new(coderay(@question.body)).to_html) %>
		</div>
	</div>
	<div class="answers">
		
	</div>
</div>