<div id="comment_<%= show_comment.id %>" class="comment">
	<div class="comment-text">
		<%= show_comment.body %>
		<span style="color:gray"><%= time_ago_in_words show_comment.created_at %></span>
	</div>
</div>