<div class="user_card package">
	<div class="small_gravatar">
		<%= image_tag user.gravatar_url(:size => 32) %>
	</div>
	<div class="user_text">
		<div class="user_name">
			<%= link_to user.profile.full_name, user %>
		</div>
		<div class="user_reputation">
			<%= to_k user.reputation %>
		</div>
	</div>
</div>