<div class="vcard">
	<div class="avatar">
		<%= image_tag user.gravatar_url(:size => 32)%>
	</div>
	<div class="user_name">
		<%= link_to user.id, user %>
	</div>
	<div class="user_rp">
	</div>
</div>