<div class="user_card" style="margin-bottom:10px">
	<div class="avatar">
		<%= image_tag user.gravatar_url(:size => 32)%>
	</div>
	<div class="user_name">
		<%= link_to user.profile.full_name, user %>
	</div>
	<div class="user_rp">
		<%= to_k user.reputation %>
	</div>
</div>