#container {
	width:980px; margin:0 auto; padding:0 20px;
}
#wrapper {
	float:left;
}
.list {
	float:left;
}
.question {
	float:left;
	width:780px;
	padding:11px 0 10px;
	border-bottom:1px solid #D0DEF2;
}
.stats {
	float:left;
	width:80px;
	text-align:right;
}
.stats > div {
	margin:0 0 7px;
}
	.stats > div:last-child {
		margin-bottom:0;
	}
.summary {
	margin-left: 90px;
}
	.summary > h3 {
		margin:0 0 5px;
		font-weight:normal;
	}
.excerpt {
	font-size:14px; line-height:1.2; margin-bottom:5px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;
}
.msg {
	float:right;
}
.tags {
	float:left;
}
	.tag {
		float:left; margin-right:7px;
	}
.subheader{
	clear: both; border-bottom:1px solid #d0def2; height:34px; margin-bottom:15px;
}
	.subheader > h1{
		float: left; line-height:34px; margin:0; font-weight:normal;
	}
/* tabs */
.tabs{
	float:right;
}
	.tabs li {
		display:inline; margin:0 5px;
	}
	.tabs a:hover{
		text-decoration: none;
	}
	.tabs a.clicked {
		float: left; display: block; border: 1px solid #d0def2; border-bottom-color: white; color:#333; font-size: 14px; height: 30px; line-height: 28px; padding: 0px 11px; margin: 3px 8px 0px 0px;
	}
	.tabs a.unclick {
		float: left; display: block; border: 1px solid white; color: #777; font-size: 14px; height: 24px; line-height: 22px; padding: 0px 11px; margin: 8px 8px 0px 0px;
	}
		.tabs a.unclick:hover{
			border: 1px solid #d0def2; border-bottom-color: white; line-height: 20px; margin-top: 9px;
		}

/* show */
.question-header {
	margin-bottom: 14px; width:980px; border-bottom:1px solid #D0DEF2;
}
	.question-header > h1 {
		font-size: 24px; line-height: 28px; margin:0 0 7px; font-weight:normal;
	}