#container {
	width:980px; margin:0 auto; padding:0 20px;
}
#wrapper {
	float:left;
}
#return0 {
	float:left;
}
#menu {
	float:right; border:1px solid #d0def2; border-top:0; padding:4px 12px;
	border-radius:0 0 5px 5px;
	line-height:22px;
}
#menu > .micro_gravatar {
	float:left; width:20px; height:20px; margin-right:5px;
}
.list {
	float:left;
}
.question {
	float:left;
	width:730px;
	padding:11px 0 10px;
	border-bottom:1px solid #D0DEF2;
}
.stats {
	float:left;
	width:80px;
	text-align:right;
}
	.stats > .voted {
		
	}
	.stats > .answered {
		
	}
	.stats > .viewed {
		
	}
.stats > div {
	margin:0 0 7px;
}
	.stats > div:last-child {
		margin-bottom:0;
	}
.summary {
	margin-left: 90px;
}
	.summary > h3 {
		margin:0 0 5px;
		font-weight:normal;
	}
.excerpt {
	font-size:14px; line-height:1.2; margin-bottom:5px; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;
}
.msg {
	float:right;
}
.tags {
	float:left;
}
	.tag {
		float:left; margin-right:7px;
	}
.subheader{
	clear: both; border-bottom:1px solid #d0def2; height:34px; margin-bottom:15px;
}
	.subheader > h1{
		float: left; line-height:34px; margin:0; font-weight:normal;
	}

/* navigation */
.navigation {
	float:left; margin-top:60px;
}
	.navigation li {
		display:inline; margin:0 5px;
	}
	.navigation a {
		border:1px solid #d0def2; padding:5px 10px; font-size:16px; color:#444;
	}
		.navigation a:hover {
			background:#d0def2; color:white;
		}
	.navigation a.active {
		background:#d0def2; color:white;
	}
	.navigation a.inactive {
		border:1px solid #d0def2; background:white; color:#444;
	}
/* tabs */
.tabs{
	float:right;
}
	.tabs li {
		display:inline; margin:0 5px;
	}
	.tabs a:hover{
		text-decoration: none;
	}
	.tabs a.clicked {
		float: left; display: block; border: 1px solid #d0def2; border-bottom-color: white; color:#333; font-size: 14px; height: 30px; line-height: 28px; padding: 0px 11px; margin: 3px 8px 0px 0px;
	}
	.tabs a.unclick {
		float: left; display: block; border: 1px solid white; color: #777; font-size: 14px; height: 24px; line-height: 22px; padding: 0px 11px; margin: 8px 8px 0px 0px;
	}
		.tabs a.unclick:hover{
			border: 1px solid #d0def2; border-bottom-color: white; line-height: 20px; margin-top: 9px;
		}

/* show */
.question-header {
	margin-bottom: 14px; width:980px; border-bottom:1px solid #D0DEF2;
}
	.question-header > h1 {
		font-size: 24px; line-height: 28px; margin:0 0 7px; font-weight:normal;
	}
.content {
	float:left; width:730px;
}
	.post {
		float:left; width:100%;
	}
	.left {
		float:left; width:40px;
	}
	.right {
		margin-left:50px;
	}
	.post-text {
		float: left; width: 100%; line-height:1.4;
	}

/* vote */
.voted_number {
	float:left; width:100%; color:#999; font-size:28px; text-align:center;
}
.vote-up, .vote-up:hover, .vote-down, .vote-down:hover {
	float:left; width:40px; height:30px;
}
.vote-up{
	background:url(/images/up.png) no-repeat;
}
.vote-up:hover{
	background:url(/images/up-on.png) no-repeat;
	text-decoration:none;
}

.vote-down{
	background:url(/images/down.png) no-repeat;
}
.vote-down:hover{
	background:url(/images/down-on.png) no-repeat;
	text-decoration:none;
}

/* answers */
#answers {
	clear: both; padding-top: 10px; width: 730px;
}
#answers-header {
	margin: 10px 0; width: 730px;
}
.subheader {
	clear: both; border-bottom: 1px solid #D0DEF2; height: 34px; margin-bottom: 5px;
}
.answer {
	float:left; width: 730px; border-bottom: 1px solid #D0DEF2; padding-bottom: 20px; padding-top: 20px;
}
.subheader > h2 {
	float: left; font-size: 18px; font-weight: normal; line-height: 34px; margin:0px; font-weight:normal;
}
.space {
	color: #222;
	font-size: 20px;
	font-weight: normal;
	padding-top: 20px;
}
.create_answer {
	width: 730px;
	clear:both;
}
.answer_area {
	width: 100%;
	height: 120px;
	font-size:14px;
	padding:3px 2px;
	line-height:1.4;
	color:#444;
}

/* permission */
.permission {
	float:left;
}

/* user */
.user_stats {
	float:right;
}
.timestamp {
	margin-bottom:5px
}
.user_card {
	float:left;
}
	.user_card > .small_gravatar {
		float:left; width:32px; height:32px;
	}
	.user_card > .user_text {
		margin-left:37px;
	}
	.user_card > .user_name {
		
	}
	.user_card > .user_reputation {
		
	}

/* comments */
.comments {
	float:left; margin-top:10px; border-top: 1px dotted #AAA; font-size: 13px; line-height: 135%; padding-bottom: 10px; width: 100%;
}
.create_comment {
	float:left; width:100%;
}
.add_comment {
	float:left;
}
.comment {
	padding:5px 0; border-bottom:dotted 1px #ddd; line-height:17px; color:#555;
}
.comment_area {
	float:left; width:678px; height:40px; padding:0; margin:0; font-size:13px; color:#444;
}
.comment_submit {
	float:left; padding:0; margin:5px 0;
}

/* pagination */
.pagination{
	float:left; padding:1em 0; width:100%; font-size:12px;
}
	.pagination > em{
		font-weight: bold; font-style:normal; background-color:#555; border: 1px solid #444; color:white; margin:2px; padding:2px 5px;
	}
	.pagination a, .pagination span {
		border:1px solid #ccc; padding:2px 5px; background-color:#f7f7f7; margin:2px;
	}
	.pagination span.current {
		font-weight: bold; font-style:normal; background-color:#555; border: 1px solid #444; color:white; margin:2px; padding:2px 5px;
	}
	.pagination a:hover, .pagination a:focus {
		text-decoration:none; border:1px solid #aaa;
	}
	.pagination span.disabled {
		border: 1px solid #eee; color:#aaa; margin:2px; padding:2px 5px;
	}

/* for Tag and User Page */
.parentheader {
	clear: both; border-bottom:1px solid #d0def2; height:34px; margin-bottom:15px; width:980px;
}
	.parentheader > h1 {
		float: left; line-height:34px; margin:0; font-weight:normal;
	}

.tag_package {
	float:left; width:160px; margin:10px 0;
}
	.package_tag {
		
	}
.package {
	width:160px; margin:10px 0;
}