<%= form_for([@question,@answer]) do |f| %>
	<div id='wmd-button-bar'></div>
    <%= f.text_area :body, :class => 'editor_element editor_body editor_fontstyle', :id => 'wmd-input' %>
	<div id='wmd-preview' class='editor_fontstyle'></div>
    <%= f.submit %>
<% end %>
<%= javascript_include_tag 'wmd', 'showdown', 'jquery.tar', 'autocomplete-rails' %>
