<div class='create_answer'>
	<h2 class='space'>你的答案</h2>
	<%= form_for([@question,@answer]) do |f| %>
	<div id='wmd-button-bar'></div>
    <%= f.text_area :body, :class => 'editor_element editor_body editor_fontstyle resizable', :id => 'wmd-input' %>
	<div id='wmd-preview' class='editor_fontstyle'></div>
	<%= f.submit '提交', :class => 'submit' %>
	<% end %>
</div>
<%= javascript_include_tag 'jquery.tar', 'wmd', 'showdown', 'autocomplete-rails' %>